<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="row">
        <div class="col-sm-8">
            <div class="jumbotron">
                <h1>French Parrot </h1>
                <p>Perroquet to the cognoscenti&nbsp;&nbsp;<i class="fa fa-smile-o"></i></p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="well">
                <h3>Slightly more complicated assistant app</h3>
                <p>It uses a web service to translate the text it hears to French.</p>
                <a href="http://translate.yandex.com">Powered by Yandex.Translate</a>
            </div>
        </div>

    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>