<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>French Parrot </h1>
        <p>Perroquet to the cognoscenti&nbsp;&nbsp;<i class="fa fa-smile-o"></i></p>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>